.register-container {
  width: 80%;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.register-container img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.register-container h1 {
  margin-bottom: 20px;
}

.register-container form {
  display: flex;
  flex-direction: column;
}

.register-container label {
  margin-bottom: 5px;
}

.register-container input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.register-container button {
  background-color: #009879;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.register-container button:hover {
  background-color: #007f63;
}