.clsBotones{
  display: flex;
  justify-content: space-between;

}

.clsBtnRegistrar{
  background-color: #007f63;
  color: white;
}
.clsBtnRegistrar:hover{
  background-color: #25b192;
}

.clsBtnSalir{
  background-color: #007f63;
  color: white;
}

.clsBtnSalir:hover{
  background-color: #25b192;
}
.clsBtnEB{
  border: solid #d3ece7;
}

.fixed-buttons {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}